.bg-n 	{ background: none !important; }

.bga-f 	{ background-attachment: fixed !important; }
.bga-s 	{ background-attachment: scroll !important; }

.bgi-n 	{ background-image: none !important; }

.bgr-n 	{ background-repeat: no-repeat !important; }
.bgr-rd { background-repeat: round !important; }
.bgr-sp { background-repeat: space !important; }
.bgr-x 	{ background-repeat: repeat-x !important; }
.bgr-y 	{ background-repeat: repeat-y !important; }