.fz-xxxl	{ font-size: $size-xxxl !important; }
.fz-xxl		{ font-size: $size-xxl !important; }
.fz-xl		{ font-size: $size-xl !important; }
.fz-l		{ font-size: $size-l !important; }
.fz-ml		{ font-size: $size-ml !important; }
.fz-m		{ font-size: $size-m !important; }
.fz			{ font-size: $size !important; }
.fz-s		{ font-size: $size-s !important; }
.fz-xs		{ font-size: $size-xs !important; }
.fz-xxs		{ font-size: $size-xxs !important; }
.fz-xxxs		{ font-size: $size-xxxs !important; }
.fz-xxxxs		{ font-size: $size-xxxxs !important; }

.fs-n 		{ font-style: normal !important; }
.fs-i 		{ font-style: italic !important; }

.fv-n 		{ font-variant: normal !important; }
.fv-sc 		{ font-variant: small-caps !important; }

.fw-n 		{ font-weight: normal !important; }
.fw-b 		{ font-weight: bold !important; }

// Font family classes
.ff-titles 				{ font-family: $family-titles !important; }
.ff-default	{ font-family: $family-default !important;  }