.lis-n		{ list-style: none !important; }

.lisi-n		{ list-style-image: none !important; }

.list-c		{ list-style-type: circle !important; }
.list-d		{ list-style-type: disc !important; }
.list-dc	{ list-style-type: decimal !important; }
.list-dclz	{ list-style-type: decimal-leading-zero !important; }
.list-lr	{ list-style-type: lower-roman !important; }
.list-n		{ list-style-type: none !important; }
.list-s		{ list-style-type: square !important; }
.list-ur	{ list-style-type: upper-roman !important; }