.ta-c 	{ text-align: center !important; }
.ta-j 	{ text-align: justify !important; }
.ta-l 	{ text-align: left !important; }
.ta-r 	{ text-align: right !important; }

.td-l 	{ text-decoration: line-through !important; }
.td-n 	{ text-decoration: none !important; }
.td-o 	{ text-decoration: overline !important; }
.td-u 	{ text-decoration: underline !important; }

.ti-h 	{ text-indent: -9999px !important; }

.tsh-n 	{ text-shadow: none !important; }

.tt-c 	{ text-transform: capitalize !important; }
.tt-l 	{ text-transform: lowercase !important; }
.tt-n 	{ text-transform: none !important; }
.tt-u 	{ text-transform: uppercase !important; }

.va-b 	{ vertical-align: bottom !important; }
.va-bl 	{ vertical-align: baseline !important; }
.va-m 	{ vertical-align: middle !important; }
.va-sub { vertical-align: sub !important; }
.va-sup { vertical-align: super !important; }
.va-t 	{ vertical-align: top !important; }
.va-tb 	{ vertical-align: text-bottom !important; }
.va-tt 	{ vertical-align: text-top !important; }

.whs-n 	{ white-space: normal !important; }
.whs-nw { white-space: nowrap !important; }
.whs-p 	{ white-space: pre !important; }
.whs-pl { white-space: pre-line !important; }
.whs-pw { white-space: pre-wrap !important; }

.wow-b 	{ word-wrap: break-word !important; }
.wow-n 	{ word-wrap: none !important; }
.wow-nm { word-wrap: normal !important; }
.wow-s 	{ word-wrap: suppress !important; }
.wow-u 	{ word-wrap: unrestricted !important; }